DATA_SOURCE=sqlserver
DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=AEOESCCR
DB_USER=ae_store_reader
DB_PASSWORD=your_password_here
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
STORE_WAREHOUSE=V08
SALES_TARIFF_ID=5
SALES_PRICE_FORMAT=0
DB_REQUEST_TIMEOUT_MS=3000
DB_CONNECTION_TIMEOUT_MS=3000
VS_STOCK_FILE=../VSImageTest/Stock de Histria Julio.xlsx
VS_IMAGE_CATALOG_FILE=../VSImageTest/catalogo_actual_vs_resultados.json
